@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.otf");
}

body{
    font-family: "Inter";
    color: #383F53;
    /* background-color: brown; */
}

.margin_redefined{
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 20px !important;
    width: 98% !important;
    max-width: none !important;
    /* background-color: aquamarine; */
}

.display_area{    
    display: flex;
    
}

/* Nav bar - icon bar vertical */

.navigation_vertical{
    background-color: #FEFEFE;
    width: 6%;
    height: 100vh;
    position: fixed;
    
}

.main_area{
    background-color: #F6F6F6;
    width: 74%;
    min-height: 100vh;
    margin-left: 6%;
}

.order_details{
    background-color: #FEFEFE;
    width: 20%;
    height: 100vh;
    position: fixed;
    margin-left: 80%;
}

.navigation_vertical a{
    display: block;
}

.navigation_vertical img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

.logo_img{
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px !important;
}

#txt_search{
    
    border: none;
    padding: 8px;
    font-size: 14px;
}

.input_area{
    display: flex;
    align-items: center;
    justify-content: end;
}

#button-addon2{
    border: none;
    background-color: #FEFEFE;
}

#button_filter{
    border: none;
    background-color: #FEFEFE;
}

.order_status{
    display: flex; 
    justify-content: end;
    
    color: #FEFEFE;
    font-size: 15px;
}

.order_status label{
    display: inline; 
    background-color: #383F53;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.order_card{
    background-color: #EDF0F5;
    border: #383F53 solid 2px;
    padding: 0px;
    border-radius: 20px;
}

.button_category_1{
    background-color: #383F53;
    color: #FEFEFE;
}

.button_category_2{
    background-color: #EDF0F5;
    color: #383F53;
    border-color: #383F53;
}

.button_category_3{
    background-color: #383F53;
    color: #FEFEFE;
}

#button_add_cart{
    background-color: #383F53;
    color: #FEFEFE;
}

#button_add_cart img{
    width: 20px;
}

#item_card{
    background-color: #EDF0F5;
    border: #383F53 solid 1px;
}

.stock_label{
    display: flex;
    justify-content: end;
}

#item_image{
    margin-top: 50px;
    margin-left: 10px;
}

.list-group-item{
    background-color:#EDF0F5;
}

#button_payment{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    
} 

#button_payment button{
    background-color: #383F53;
    color: #FEFEFE;
}

.quantity-control input {
    width: 50px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin-left: 20%;
    background-color: #FEFEFE;
    font-size: 14px;
    color: #383F53;
}

#button_find_customer, #button_new_customer{
    padding: 5px;
    background-color: #F6F6F6;
}

#search_button, #cancel_button{
    border-radius: 10px;
    color: #F6F6F6;
    background-color: #383F53;
    padding: 2px;
}

#dialog_box_find_customer{
    color: #383F53;
    border-radius: 10px;
    border: none;
    
}