@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.otf");
}

body{
    font-family: "Inter";
    color: #353535;
    background-image: url("../img/BG_4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.home_page{    
    display: flex; 
}

.display_area{
    /* background-color: #F6F6F6; */
    width: 35%;
    height: 100vh; 
}

.form_area{
    /* background-color: aqua; */
    width: 65%;
    height: 100vh;
}

#left_div{
    background-color: #F6F6F6; 
    opacity: 80%;
    margin: 2%;
    border-radius: 10px;
}

#left_div img{
    margin-top: 100px;
    margin-left: 10px;
}

.tag_line{
    background-color: #383F53; 
    color: #EDF0F5;
    width: 50%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 90px;
}

.tag_line p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.join_us{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #383F53;
}

.txt_welcome{
    text-align: center;
    color: #FEFEFE;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 150px;
}

.shop_name{
    text-align: right;
    margin-right: 25%;
    color: #383F53;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.input_name{
    background-color: #383F53;
    color: #EDF0F5;
    border-radius: 10px;
}

.form_group{
   display: flex;
   justify-content: center;
}

.button_div button{
    background-color: #F8F8F8;
    color: #383F53;
}

.nav_dashboard a{
    background-color: #F8F8F8;
    color: #383F53;
    border: none;
    margin-top: 50px;
    border-radius: 30px;
    margin-right: 20px;
}